In [1]:
# Import dependencies
import psycopg2
from pprint import pprint
import pandas as pd
import json
import os

In [2]:
natural_res_data_key = pd.read_csv("id_cou_cont.csv")

# Atmospheric CO2 Concentration

In [3]:
# Read the CSV file
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Atmospheric_CO%E2%82%82_Concentrations.csv')

# Drop specified columns
columns_to_drop = ['Country', 'ISO2', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']
df.drop(columns=columns_to_drop, inplace=True)

# Extract year from the 'Date' column and create a new 'Year' column
df['Year'] = df['Date'].str.extract(r'(\d{4})')

# Save the modified DataFrame to a new CSV file
# df.to_csv('atmos_co2_conc.csv', index=False)

# Save the modified DataFrame to a new JSON file
# df.to_json('atmos_co2_conc.json', orient='records')

# Print the modified DataFrame
print(f'" World Monthly Atmospheric Carbon Dioxide Concentrations Parts Per Million Source:  (https://gml.noaa.gov/ccgg/trends/) and Dr. Ralph Keeling, Scripps Institution of Oceanography, Carbon Dioxide Measurements (https://scrippsco2.ucsd.edu/). Accessed on 2023-06-26."')
df

" World Monthly Atmospheric Carbon Dioxide Concentrations Parts Per Million Source:  (https://gml.noaa.gov/ccgg/trends/) and Dr. Ralph Keeling, Scripps Institution of Oceanography, Carbon Dioxide Measurements (https://scrippsco2.ucsd.edu/). Accessed on 2023-06-26."

,ObjectId,ISO3,Indicator,Unit,Date,Value,Year
0,1,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M03,315.70,1958
1,2,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M04,317.45,1958
2,3,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M05,317.51,1958
3,4,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M06,317.24,1958
4,5,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M07,315.86,1958
...,...,...,...,...,...,...,...
1549,1550,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,2023M03,0.52,2023
1550,1551,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,2023M04,423.36,2023
1551,1552,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,2023M04,0.74,2023
1552,1553,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,2023M05,424.00,2023
1553,1554,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,2023M05,0.71,2023

In [4]:
iso3_atmos = df['Indicator'].unique()
iso3_atmos

array(['Monthly Atmospheric Carbon Dioxide Concentrations',
       'Monthly Atmospheric Carbon Dioxide Concentrations, Year on Year Percentage Change'],
      dtype=object)

# Change in sea level

In [5]:
# Read the CSV file
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Change_in_Mean_Sea_Levels.csv')

# Drop specified columns
columns_to_drop = ['Country', 'ISO2', 'Unit', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']
df.drop(columns=columns_to_drop, inplace=True)

# Extract year from the 'Date' column and create a new 'Year' column
df['Year'] = df['Date'].str.extract(r'(\d{4})')

# # Save the modified DataFrame to a new CSV file
# df.to_csv('chang_n_mean_sea.csv', index=False)

# # Save the modified DataFrame to a new JSON file
# df.to_json('chang_n_mean_sea.json', orient='records')

# Print the modified DataFrame
print(f'" World Environment, Climate Change, Climate Indicators, Change in Mean Sea Level in Millimeters, Source: National Oceanic and Atmospheric Administration (NOAA). 2020. Sea Level Rise. Laboratory for Satellite Altimetry. https://www.star.nesdis.noaa.gov/socd/lsa/SeaLevelRise/LSA_SLR_timeseries.php. Accessed on 2022-12-08."')
df

" World Environment, Climate Change, Climate Indicators, Change in Mean Sea Level in Millimeters, Source: National Oceanic and Atmospheric Administration (NOAA). 2020. Sea Level Rise. Laboratory for Satellite Altimetry. https://www.star.nesdis.noaa.gov/socd/lsa/SeaLevelRise/LSA_SLR_timeseries.php. Accessed on 2022-12-08."

,ObjectId,ISO3,Indicator,Measure,Date,Value,Year
0,1,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Andaman Sea,D12/17/1992,-10.34,1992
1,2,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Arabian Sea,D12/17/1992,-18.46,1992
2,3,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Atlantic Ocean,D12/17/1992,-15.41,1992
3,4,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Baltic Sea,D12/17/1992,196.85,1992
4,5,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Bay Bengal,D12/17/1992,3.27,1992
...,...,...,...,...,...,...,...
35599,35600,WLD,Change in mean sea level: Sea level: Trend,South China,D11/08/2022,3.76,2022
35600,35601,WLD,Change in mean sea level: Sea level: Trend,Southern Ocean,D11/08/2022,3.22,2022
35601,35602,WLD,Change in mean sea level: Sea level: Trend,Tropics,D11/08/2022,3.11,2022
35602,35603,WLD,Change in mean sea level: Sea level: Trend,World,D11/08/2022,3.07,2022
35603,35604,WLD,Change in mean sea level: Sea level: Trend,Yellow Sea,D11/08/2022,2.75,2022

In [6]:
iso3_sea = df['ISO3'].unique()
iso3_sea

array(['WLD'], dtype=object)

In [7]:
def reshape_and_save(df, id_columns, columns_to_drop, melted_df_name):
                     # output_csv_filename):
    """
    Reshape a DataFrame by melting it to have years in a single column and save it to a CSV file.

    Args:
    df (pd.DataFrame): The input DataFrame.
    id_columns (list): A list of column names to keep as identifiers.
    columns_to_drop (list): A list of column names to drop.
    melted_df_name (str): Name for the melted DataFrame.
    output_csv_filename (str): Filename for the output CSV file.

    Returns:
    pd.DataFrame: The reshaped DataFrame.
    """
    # Drop specified columns
    df = df.drop(columns=columns_to_drop)

    # Replace missing values with NULL
    df = df.where(pd.notna(df), None)

    # Reshape the DataFrame
    melted_df = pd.melt(df, id_vars=id_columns, var_name='year', value_name='value')
    
    # Remove 'F' from the 'Year' column and filter non-numeric values
    melted_df['year'] = melted_df['year'].str.replace('F', '')
    melted_df = melted_df[melted_df['year'].str.isnumeric()]  # Filter out non-numeric values
    
    # Convert the 'Year' column to integers
    melted_df['year'] = melted_df['year'].astype(int)
    
    melted_df.name = melted_df_name

    # Save the reshaped DataFrame to a new CSV file
    # melted_df.to_csv(output_csv_filename, index=False)
    return melted_df

In [8]:
def save_dataframe_to_json(dataframe, filename):
    """
    Save a DataFrame to a JSON file.

    Args:
    dataframe (pd.DataFrame): The DataFrame to be saved.
    filename (str): The name of the JSON file.

    Returns:
    None
    """
    # Convert the DataFrame to a dictionary
    data_dict = dataframe.to_dict(orient='records')
    
    # Save the dictionary as a JSON file
    with open(filename, 'w') as json_file:
        json.dump(data_dict, json_file)

In [9]:
# Load CSV file into a pandas DataFrame
df = pd.read_csv('data/Annual_Surface_Temperature_Change.csv')

# Columns to keep as identifiers
id_columns = ['ObjectId', 'Country', 'ISO3', 'Source', 'CTS_Full_Descriptor']

# Define columns to drop
columns_to_drop = ['ISO2', 'Indicator', 'Unit', 'CTS_Name']
melted_AS_temp_chan = reshape_and_save(df, id_columns, columns_to_drop, 'melted_AS_temp_chan')
# output_csv_filename = 'melted_AS_temp_chan.csv'

# melted_AS_temp_chan = reshape_and_save(df, id_columns, columns_to_drop, 'melted_AS_temp_chan', output_csv_filename)

# save_dataframe_to_json(melted_AS_temp_chan, 'melted_AS_temp_chan.json')

In [ ]:
# Function to determine the continent based on the country
def determine_continent(country):
    # Check if the 'country' belongs to the list of European countries
    if country in ['Finland', 'Malta', 'Netherlands, The', 'Bosnia and Herzegovina', 'Russian Federation', 'Cyprus', 'Serbia, Rep. of',
                     'North Macedonia, Republic of ', 'Greece', 'Norway', 'France', 'Kosovo', 'Liechtenstein', 'Luxembourg', 'Denmark',
                     'Spain', 'Estonia, Rep. of', 'Gibraltar', 'Iceland', 'Bulgaria', 'Holy See', 'Latvia', 'Kyrgyz Rep.',
                     'Romania', 'United Kingdom', 'Ireland', 'Monaco', 'Faroe Islands', 'Ukraine', 'Czech Rep.', 'Georgia', 
                     'Slovak Rep.', 'Albania', 'Poland, Rep. of', 'Sweden', 'Portugal', 'Italy', 'Kazakhstan, Rep. of', 'Lithuania',
                     'Andorra, Principality of', 'Austria', 'Tajikistan, Rep. of', 'San Marino, Rep. of', 'Turkey', 'Hungary', 'Belgium',
                     'Moldova, Rep. of', 'Slovakia, Rep. of', 'Slovenia, Rep. of', 'Azerbaijan, Rep. of', 'Germany', 'North Macedonia, Republic of',
                     'Switzerland', 'Belarus, Rep. of', 'Croatia, Rep. of', 'Turkmenistan', 'Greenland', 'Montenegro', 'Armenia, Rep. of']:
        return 'Europe'
        
    # Check if the 'country' belongs to the list of North American countries
    elif country in ['Canada', 'Panama', 'Saint Lucia', 'Anguilla', 'Dominica', 'Antigua and Barbuda', 'Nigeria', 'Guatemala',
                     'Montserrat', 'Mexico', 'Haiti', 'Bermuda', 'United States', "Côte d'Ivoire", 'Northern Mariana Islands',
                     'Costa Rica', 'Cuba', 'Aruba, Kingdom of the Netherlands', 'Honduras', 'Guadeloupe', 'Dominican Republic',
                     'Grenada', 'Jamaica', 'Saint Pierre and Miquelon', 'Saint Kitts and Nevis', 'Barbados', 'Curacao',
                     'Saint Martin (French Part)', 'American Samoa', 'Dominican Rep.', 'Martinique', 'Nicaragua',
                     'Sint Maarten, Kingdom of the Netherlands', 'Belize', 'United States Virgin Islands', 'Saint Barthélemy', 
                     'Turks and Caicos Islands', 'Cayman Islands', 'Bahamas, The', 'Guam', 'Palau, Rep. of', 'Trinidad and Tobago',
                     'Puerto Rico', 'El Salvador', 'Saint Vincent and the Grenadines']:
        return 'North America'
        
        # Check if the 'country' belongs to the list of Oceanian countries
    elif country in ['Fiji, Rep. of', 'Tokelau', 'New Zealand', 'Kiribati', 'Samoa', 'Solomon Islands', 'Norfolk Island',
                     'Marshall Islands, Rep. of the', 'Vanuatu','Wallis and Futuna Islands', 'New Caledonia', 'Australia',
                     'Micronesia, Federated States of', 'Pitcairn Islands', 'Nauru, Rep. of', 'Papua New Guinea', 'Tuvalu',
                     'Palau, Rep. of', 'Niue', 'Tonga']:
        return 'Oceania'
        # Check if the 'country' belongs to the list of Asian countries
    elif country in ['Thailand', 'Palestine', 'Yemen, Rep. of', 'Uzbekistan, Rep. of', 'Armenia, Rep. of', 'Vietnam', 'Lebanon',
                   'Bangladesh', 'Malaysia', 'Kyrgyz Rep.', 'North Korea','Maldives', 'Nepal', 'China, P.R.: Macao', 'Hong Kong, China',
                   'Israel', 'Bhutan', 'Indonesia', 'China, P.R.: Hong Kong', 'Saudi Arabia', 'Pakistan', 'Taiwan Province of China', 'Mongolia',
                   'Macao SAR, China', 'Singapore', 'Iran, Islamic Rep. of', 'India', 'South Korea', 'Myanmar', 'Afghanistan, Islamic Rep. of',
                   'Tajikistan, Rep. of', "Lao People's Dem. Rep.", 'United Arab Emirates', 'Brunei Darussalam', 'Turkey', 'Bahrain, Kingdom of',
                   'China, P.R.: Mainland', 'Iraq', 'Japan', 'Oman', 'Philippines', 'Cambodia', 'Qatar', 'Timor-Leste, Dem. Rep. of', 'Azerbaijan, Rep. of',
                   'Sri Lanka', 'Kuwait', 'Syrian Arab Rep.', 'Turkmenistan', 'Jordan', 'Kazakhstan, Rep. of']:
        return 'Asia'
        
        # Check if the 'country' belongs to the list of South American countries
    elif country in ['Guyana', 'Venezuela, Rep. Bolivariana de', 'Brazil', 'Argentina', 'Costa Rica', 'Peru', 'Chile', 'Uruguay',
                     'Ecuador', 'Paraguay', 'Suriname', 'Bolivia', 'Colombia']:
        return 'South America'
        
         # Check if the 'country' belongs to the list of African countries
    elif country in ['Mayotte', 'Senegal', 'Uganda', 'Comoros', 'Cabo Verde', 'Niger', 'Sierra Leone', 'Gabon', 'Fiji', 'Guinea-Bissau', 'Benin', 'Guinea', 'Tunisia', 'Chad',
                     'Colombia', 'Madagascar', 'Ghana', 'Marshall Islands', 'Togo', 'Malawi', 'Chile', 'Eswatini', 'Nigeria', 'Namibia', 'Cameroon', 'Belize', 'Mozambique', 'Sudan',
                     'Burkina Faso', 'Djibouti', 'Zimbabwe', 'Zambia', 'Rwanda', 'Costa Rica', 'Liberia', 'Democratic Republic of the Congo', 'Congo', 'South Africa', 'Botswana', 'Ethiopia',
                     'Algeria', 'Myanmar']:
        # Return the continent as 'Africa' if the country is in the African list
        return 'Africa'

In [10]:
# # List of countries
# countries = ['Afghanistan, Islamic Rep. of', 'Albania', 'Algeria', ...]  # List continues

# # Dictionary to store continents and corresponding countries
# continent_countries = {
#     'Asia': [],
#     'Europe': [],
#     'Africa': [],
#     'Oceania': [],
#     'North America': [],
#     'South America': []
# }

# # Iterate through the list of countries and assign them to their respective continents
# for country in countries:
#     if country in ['Thailand', 'Palestine', 'Yemen, Rep. of', 'Uzbekistan, Rep. of', 'Armenia, Rep. of', 'Vietnam', 'Lebanon',
#                    'Bangladesh', 'Malaysia', 'Kyrgyz Rep.', 'North Korea','Maldives', 'Nepal', 'China, P.R.: Macao', 'Hong Kong, China',
#                    'Israel', 'Bhutan', 'Indonesia', 'China, P.R.: Hong Kong', 'Saudi Arabia', 'Pakistan', 'Taiwan Province of China', 'Mongolia',
#                    'Macao SAR, China', 'Singapore', 'Iran, Islamic Rep. of', 'India', 'South Korea', 'Myanmar', 'Afghanistan, Islamic Rep. of',
#                    'Tajikistan, Rep. of', "Lao People's Dem. Rep.", 'United Arab Emirates', 'Brunei Darussalam', 'Turkey', 'Bahrain, Kingdom of',
#                    'China, P.R.: Mainland', 'Iraq', 'Japan', 'Oman', 'Philippines', 'Cambodia', 'Qatar', 'Timor-Leste, Dem. Rep. of', 'Azerbaijan, Rep. of',
#                    'Sri Lanka', 'Kuwait', 'Syrian Arab Rep.', 'Turkmenistan', 'Jordan', 'Kazakhstan, Rep. of']:
#         continent_countries['Asia'].append(country)
    
#     elif country in ['Finland', 'Malta', 'Netherlands, The', 'Bosnia and Herzegovina', 'Russian Federation', 'Cyprus', 'Serbia, Rep. of',
#                      'North Macedonia, Republic of ', 'Greece', 'Norway', 'France', 'Kosovo', 'Liechtenstein', 'Luxembourg', 'Denmark',
#                      'Spain', 'Estonia, Rep. of', 'Gibraltar', 'Iceland', 'Bulgaria', 'Holy See', 'Latvia', 'Kyrgyz Rep.',
#                      'Romania', 'United Kingdom', 'Ireland', 'Monaco', 'Faroe Islands', 'Ukraine', 'Czech Rep.', 'Georgia', 
#                      'Slovak Rep.', 'Albania', 'Poland, Rep. of', 'Sweden', 'Portugal', 'Italy', 'Kazakhstan, Rep. of', 'Lithuania',
#                      'Andorra, Principality of', 'Austria', 'Tajikistan, Rep. of', 'San Marino, Rep. of', 'Turkey', 'Hungary', 'Belgium',
#                      'Moldova, Rep. of', 'Slovakia, Rep. of', 'Slovenia, Rep. of', 'Azerbaijan, Rep. of', 'Germany', 'North Macedonia, Republic of',
#                      'Switzerland', 'Belarus, Rep. of', 'Croatia, Rep. of', 'Turkmenistan', 'Greenland', 'Montenegro', 'Armenia, Rep. of']:
#         continent_countries['Europe'].append(country)
    
#     elif country in ['Rwanda', 'Seychelles', 'São Tomé and Príncipe, Dem. Rep. of', 'Egypt, Arab Rep. of', 'Chad', 'Nigeria',
#                      'Mauritania, Islamic Rep. of', 'Eswatini, Kingdom of', 'Malawi', 'Tunisia', 'Burundi', 'Lesotho, Kingdom of',
#                      'Mozambique, Rep. of', "Côte d'Ivoire", 'Cabo Verde', 'Kenya', 'Algeria', 'Sudan', 'Namibia', 'Eritrea, The State of', 'Niger',
#                      'South Africa', 'Equatorial Guinea, Rep. of', 'Burkina Faso', 'Congo, Dem. Rep. of the', 'Benin', 'Gabon', 'Guinea', 'Libya',
#                      'Botswana', 'Angola', 'Morocco', 'Djibouti', 'Liberia', 'Congo, Rep. of', 'Togo', 'Ghana', 'Uganda',
#                      'Ethiopia, The Federal Dem. Rep. of', 'Mauritius', 'Zimbabwe', 'Zambia', 'Sierra Leone', 'Gambia, The', 
#                      'Madagascar, Rep. of', 'Guinea-Bissau', 'South Sudan, Rep. of', 'Somalia', 'Central African Rep.', 'Mali', 'Cameroon', 
#                      'Comoros, Union of the', 'Senegal', 'Tanzania, United Rep. of']:        
#         continent_countries['Africa'].append(country)
        
#     # Similar checks for Oceania, North America, and South America...
#     elif country in ['Fiji, Rep. of', 'Tokelau', 'New Zealand', 'Kiribati', 'Samoa', 'Solomon Islands', 'Norfolk Island',
#                      'Marshall Islands, Rep. of the', 'Vanuatu','Wallis and Futuna Islands', 'New Caledonia', 'Australia',
#                      'Micronesia, Federated States of', 'Pitcairn Islands', 'Nauru, Rep. of', 'Papua New Guinea', 'Tuvalu',
#                      'Palau, Rep. of', 'Niue', 'Tonga']:
#         continent_countries["Oceania"].append(country)
        
#     elif country in ['Canada', 'Panama', 'Saint Lucia', 'Anguilla', 'Dominica', 'Antigua and Barbuda', 'Nigeria', 'Guatemala',
#                      'Montserrat', 'Mexico', 'Haiti', 'Bermuda', 'United States', "Côte d'Ivoire", 'Northern Mariana Islands',
#                      'Costa Rica', 'Cuba', 'Aruba, Kingdom of the Netherlands', 'Honduras', 'Guadeloupe', 'Dominican Republic',
#                      'Grenada', 'Jamaica', 'Saint Pierre and Miquelon', 'Saint Kitts and Nevis', 'Barbados', 'Curacao',
#                      'Saint Martin (French Part)', 'American Samoa', 'Dominican Rep.', 'Martinique', 'Nicaragua',
#                      'Sint Maarten, Kingdom of the Netherlands', 'Belize', 'United States Virgin Islands', 'Saint Barthélemy', 
#                      'Turks and Caicos Islands', 'Cayman Islands', 'Bahamas, The', 'Guam', 'Palau, Rep. of', 'Trinidad and Tobago',
#                      'Puerto Rico', 'El Salvador', 'Saint Vincent and the Grenadines']:
#         continent_countries["North America"].append(country)

#     elif country in ['Guyana', 'Venezuela, Rep. Bolivariana de', 'Brazil', 'Argentina', 'Costa Rica', 'Peru', 'Chile', 'Uruguay',
#                      'Ecuador', 'Paraguay', 'Suriname', 'Bolivia', 'Colombia']:
#         continent_countries["South America"].append(country)

# # Print the dictionary
# print(continent_countries)

{'Asia': ['Afghanistan, Islamic Rep. of'], 'Europe': ['Albania'], 'Africa': ['Algeria'], 'Oceania': [], 'North America': [], 'South America': []}

In [11]:
cou_temp = melted_AS_temp_chan['Country'].unique()
cou_temp

array(['Afghanistan, Islamic Rep. of', 'Albania', 'Algeria',
       'American Samoa', 'Andorra, Principality of', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia, Rep. of',
       'Aruba, Kingdom of the Netherlands', 'Australia', 'Austria',
       'Azerbaijan, Rep. of', 'Bahamas, The', 'Bahrain, Kingdom of',
       'Bangladesh', 'Barbados', 'Belarus, Rep. of', 'Belgium', 'Belize',
       'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Cayman Islands', 'Central African Rep.',
       'Chad', 'Chile', 'China, P.R.: Hong Kong', 'China, P.R.: Macao',
       'China, P.R.: Mainland', 'Colombia', 'Comoros, Union of the',
       'Congo, Dem. Rep. of the', 'Congo, Rep. of', 'Cook Islands',
       'Costa Rica', 'Croatia, Rep. of', 'Cuba', 'Cyprus', 'Czech Rep.',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Rep.', 'Ecuador',
       'Egypt, Arab Rep. of', 'El Salvador', 'Equatorial Guinea, Rep. of',
       'Eritrea, The State of', 'Estonia, Rep. of',
       'Eswatini, Kingdom of', 'Ethiopia, The Federal Dem. Rep. of',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji, Rep. of',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran, Islamic Rep. of', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan, Rep. of', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep. of", 'Korea, Rep. of', 'Kuwait',
       'Kyrgyz Rep.', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho, Kingdom of', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar, Rep. of', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands, Rep. of the', 'Martinique',
       'Mauritania, Islamic Rep. of', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia, Federated States of', 'Moldova, Rep. of', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique, Rep. of', 'Myanmar', 'Namibia', 'Nauru, Rep. of',
       'Nepal', 'Netherlands, The', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'North Macedonia, Republic of ', 'Norway', 'Oman', 'Pakistan',
       'Palau, Rep. of', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn Islands', 'Poland, Rep. of', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Helena', 'Saint Pierre and Miquelon', 'Samoa',
       'San Marino, Rep. of', 'São Tomé and Príncipe, Dem. Rep. of',
       'Saudi Arabia', 'Senegal', 'Serbia, Rep. of', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovak Rep.', 'Slovenia, Rep. of',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan, Rep. of', 'Spain', 'Sri Lanka',
       'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Rep.', 'Taiwan Province of China',
       'Tajikistan, Rep. of', 'Tanzania, United Rep. of', 'Thailand',
       'Timor-Leste, Dem. Rep. of', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan, Rep. of',
       'Vanuatu', 'Venezuela, Rep. Bolivariana de', 'Vietnam',
       'Wallis and Futuna Islands', 'West Bank and Gaza',
       'Western Sahara', 'World', 'Yemen, Rep. of', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [12]:
print(' The Data Reflects: Surface Temperature (Degree Celsius) Change with respect to a baseline climatology, corresponding to the period 1951-1980')
melted_AS_temp_chan

 The Data Reflects: Surface Temperature (Degree Celsius) Change with respect to a baseline climatology, corresponding to the period 1951-1980

,ObjectId,Country,ISO3,Source,CTS_Full_Descriptor,year,value
225,1,"Afghanistan, Islamic Rep. of",AFG,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",1961,-0.113
226,2,Albania,ALB,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",1961,0.627
227,3,Algeria,DZA,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",1961,0.164
228,4,American Samoa,ASM,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",1961,0.079
229,5,"Andorra, Principality of",AND,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",1961,0.736
...,...,...,...,...,...,...,...
14170,221,Western Sahara,ESH,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",2022,1.97
14171,222,World,WLD,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",2022,1.394
14172,223,"Yemen, Rep. of",YEM,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",2022,NaN
14173,224,Zambia,ZMB,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",2022,0.686
14174,225,Zimbabwe,ZWE,Food and Agriculture Organization of the Unite...,"Environment, Climate Change, Climate Indicator...",2022,-0.49

In [13]:
duplicates = melted_AS_temp_chan[melted_AS_temp_chan.duplicated(subset=['ObjectId', 'Country', 'ISO3', 'Source', 'CTS_Full_Descriptor', 'year', 'value'], keep=False)]
print(duplicates)

Empty DataFrame
Columns: [ObjectId, Country, ISO3, Source, CTS_Full_Descriptor, year, value]
Index: []

In [14]:
# Load CSV file into a pandas DataFrame
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Climate-related_Disasters_Frequency.csv')

# Columns to keep as identifiers
id_columns = ['ObjectId', 'Country', 'ISO3', 'Indicator', 'Source', 'CTS_Full_Descriptor']

# Define columns to drop
columns_to_drop = ['ISO2', 'Unit', 'CTS_Code', 'CTS_Name']

# Reshape the DataFrame using the function and provide a name for the melted DataFrame
output_csv_filename = 'melted_CR_disater_F.csv'

# Save the reshaped DataFrame to a new CSV file 
melted_CR_disater_F = reshape_and_save(df, id_columns, columns_to_drop, 'melted_CR_disater_F')
                                       # , output_csv_filename)

# # Save as json file
# save_dataframe_to_json(melted_CR_disater_F, 'melted_CR_disater_F.json')

In [15]:
cou_disaster= melted_CR_disater_F['Country'].unique()
cou_disaster

array(['Afghanistan, Islamic Rep. of', 'Albania', 'Algeria',
       'American Samoa', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia, Rep. of', 'Australia', 'Austria',
       'Azerbaijan, Rep. of', 'Azores Island', 'Bahamas, The',
       'Bangladesh', 'Barbados', 'Belarus, Rep. of', 'Belgium', 'Belize',
       'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Canary Island',
       'Cayman Islands', 'Central African Rep.', 'Chad', 'Chile',
       'China, P.R.: Hong Kong', 'China, P.R.: Macao',
       'China, P.R.: Mainland', 'Colombia', 'Comoros, Union of the',
       'Congo, Dem. Rep. of the', 'Congo, Rep. of', 'Cook Islands',
       'Costa Rica', "Côte d'Ivoire", 'Croatia, Rep. of', 'Cuba',
       'Cyprus', 'Czech Rep.', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Rep.', 'Ecuador', 'Egypt, Arab Rep. of', 'El Salvador',
       'Eritrea, The State of', 'Estonia, Rep. of',
       'Eswatini, Kingdom of', 'Ethiopia, The Federal Dem. Rep. of',
       'Fiji, Rep. of', 'Finland', 'France', 'French Polynesia', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Germany Dem Rep (former)',
       'Germany Fed Rep (former)', 'Ghana', 'Greece', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep. of', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan, Rep. of', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep. of", 'Korea, Rep. of', 'Kuwait',
       'Kyrgyz Rep.', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho, Kingdom of', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar, Rep. of', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Marshall Islands, Rep. of the',
       'Mauritania, Islamic Rep. of', 'Mauritius', 'Mexico',
       'Micronesia, Federated States of', 'Moldova, Rep. of', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique, Rep. of',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands Antilles',
       'Netherlands, The', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia, Republic of ',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau, Rep. of', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland, Rep. of', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena',
       'Saint Martin (French Part)', 'Samoa',
       'São Tomé and Príncipe, Dem. Rep. of', 'Saudi Arabia', 'Senegal',
       'Serbia and Montenegro', 'Serbia, Rep. of', 'Seychelles',
       'Sierra Leone', 'Sint Maarten, Kingdom of the Netherlands',
       'Slovak Rep.', 'Slovenia, Rep. of', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan, Rep. of', 'Soviet Union (former)',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Rep.', 'Taiwan Province of China',
       'Tajikistan, Rep. of', 'Tanzania, United Rep. of', 'Thailand',
       'Timor-Leste, Dem. Rep. of', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye, Rep. of',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan, Rep. of', 'Vanuatu', 'Venezuela, Rep. Bolivariana de',
       'Vietnam', 'Wallis and Futuna Islands', 'West Bank and Gaza',
       'Yemen, Rep. of', 'Zambia', 'Zimbabwe'], dtype=object)

In [16]:
unique_values = melted_CR_disater_F["Indicator"].unique()

print("The Data Reflects: Climate-related disasters frequency, Number of Disasters:")
for value in unique_values:
    print(f"'Climate related disasters frequency, Number of Disasters: {value}'")

melted_CR_disater_F

The Data Reflects: Climate-related disasters frequency, Number of Disasters:
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Drought'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Extreme temperature'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Flood'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Landslide'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Storm'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: TOTAL'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Wildfire'

,ObjectId,Country,ISO3,Indicator,Source,CTS_Full_Descriptor,year,value
0,1,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",1980,NaN
1,2,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",1980,NaN
2,3,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",1980,1.0
3,4,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",1980,NaN
4,5,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",1980,NaN
...,...,...,...,...,...,...,...,...
41705,966,Zambia,ZMB,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",2022,1.0
41706,967,Zimbabwe,ZWE,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",2022,NaN
41707,968,Zimbabwe,ZWE,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",2022,1.0
41708,969,Zimbabwe,ZWE,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",2022,1.0
41709,970,Zimbabwe,ZWE,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...","Environment, Climate Change, Climate Indicator...",2022,2.0

In [17]:
duplicates = melted_CR_disater_F[melted_CR_disater_F.duplicated(subset=['ObjectId', 'Country', 'ISO3', 'Indicator', 'Source', 'CTS_Full_Descriptor', 'year', 'value'], keep=False)]
print(duplicates)

Empty DataFrame
Columns: [ObjectId, Country, ISO3, Indicator, Source, CTS_Full_Descriptor, year, value]
Index: []

In [18]:
# Load CSV file into a pandas DataFrame
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Forest_and_Carbon.csv')

# Columns to keep as identifiers
id_columns = ['ObjectId', 'Country', 'ISO3', 'Indicator', 'Unit']

# Define columns to drop
columns_to_drop = ['ISO2', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']

# Reshape the DataFrame using the function and provide a name for the melted DataFrame
output_csv_filename = 'melted_forest_C.csv'

# Save the reshaped DataFrame to a new CSV file
melted_forest_C = reshape_and_save(df, id_columns, columns_to_drop, 'melted_forest_C')
#                                    , output_csv_filename)

# # Save as json file
# save_dataframe_to_json(melted_forest_C, 'melted_forest_C.json')

In [19]:
cou_forest_c = melted_forest_C['Country'].unique()
cou_forest_c

array(['Advanced Economies', 'Afghanistan, Islamic Rep. of', 'Africa',
       'Albania', 'Algeria', 'American Samoa', 'Americas',
       'Andorra, Principality of', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia, Rep. of',
       'Aruba, Kingdom of the Netherlands', 'Asia', 'Australia',
       'Austria', 'Azerbaijan, Rep. of', 'Bahamas, The',
       'Bahrain, Kingdom of', 'Bangladesh', 'Barbados',
       'Belarus, Rep. of', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Cayman Islands', 'Central African Rep.',
       'Chad', 'Channel Islands', 'Chile', 'China, P.R.: Mainland',
       'Colombia', 'Comoros, Union of the', 'Congo, Dem. Rep. of the',
       'Congo, Rep. of', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia, Rep. of', 'Cuba', 'Cyprus', 'Czech Rep.', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Rep.', 'Ecuador',
       'Egypt, Arab Rep. of', 'El Salvador',
       'Emerging and Developing Economies', 'Equatorial Guinea, Rep. of',
       'Eritrea, The State of', 'Estonia, Rep. of',
       'Eswatini, Kingdom of', 'Ethiopia, The Federal Dem. Rep. of',
       'Euro Area', 'Faroe Islands', 'Fiji, Rep. of', 'Finland', 'France',
       'French Polynesia', 'G20', 'G7', 'Gabon', 'Gambia, The', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe',
       'Guam', 'Guatemala', 'Guiana, French', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran, Islamic Rep. of', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan, Rep. of', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep. of", 'Korea, Rep. of', 'Kuwait',
       'Kyrgyz Rep.', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho, Kingdom of', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar, Rep. of', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands, Rep. of the', 'Martinique',
       'Mauritania, Islamic Rep. of', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia, Federated States of', 'Moldova, Rep. of', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique, Rep. of',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands Antilles',
       'Netherlands, The', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'North Macedonia, Republic of ', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau, Rep. of',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn Islands', 'Poland, Rep. of', 'Portugal', 'Puerto Rico',
       'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Helena', 'Saint Pierre and Miquelon', 'Samoa',
       'San Marino, Rep. of', 'São Tomé and Príncipe, Dem. Rep. of',
       'Saudi Arabia', 'Senegal', 'Serbia and Montenegro',
       'Serbia, Rep. of', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovak Rep.', 'Slovenia, Rep. of', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan, Rep. of', 'Spain', 'Sri Lanka',
       'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Rep.', 'Tajikistan, Rep. of',
       'Tanzania, United Rep. of', 'Thailand',
       'Timor-Leste, Dem. Rep. of', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye, Rep. of',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan, Rep. of', 'Vanuatu', 'Venezuela, Rep. Bolivariana de',
       'Vietnam', 'Wallis and Futuna Islands', 'West Bank and Gaza',
       'Western Sahara', 'World', 'Yemen, Rep. of', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [20]:
indi_values = melted_forest_C["Indicator"].unique()
unit_values = melted_forest_C["Unit"].unique()

print("The Data Reflects: Food and Agriculture Organization of the United Nations (FAO), 2022. FAO, 2022 FAOSTAT Land, Inputs and Sustainability, Land Use http://www.fao.org/faostat/en/#data/RL, Rome, FAO. Accessed on: 03-28-2023; IMF staff calculations.")
print('-----------------------------------------------------------------------------------------------------------------------------------------------------------')
for value in indi_values:
    print(f"'Forest and Carbon Indicators: {value}'")
    
print('--------------------------------------------------')
print('--------------------------------------------------')

for value in unit_values:
    print(f"'Forest and Carbon Units to be aware of: {value}'")

melted_forest_C

The Data Reflects: Food and Agriculture Organization of the United Nations (FAO), 2022. FAO, 2022 FAOSTAT Land, Inputs and Sustainability, Land Use http://www.fao.org/faostat/en/#data/RL, Rome, FAO. Accessed on: 03-28-2023; IMF staff calculations.
-----------------------------------------------------------------------------------------------------------------------------------------------------------
'Forest and Carbon Indicators: Carbon stocks in forests'
'Forest and Carbon Indicators: Forest area'
'Forest and Carbon Indicators: Index of carbon stocks in forests'
'Forest and Carbon Indicators: Index of forest extent'
'Forest and Carbon Indicators: Land area'
'Forest and Carbon Indicators: Share of forest area'
--------------------------------------------------
--------------------------------------------------
'Forest and Carbon Units to be aware of: Million tonnes'
'Forest and Carbon Units to be aware of: 1000 HA'
'Forest and Carbon Units to be aware of: Index'
'Forest and Carbon Units to be aware of: Percent'

,ObjectId,Country,ISO3,Indicator,Unit,year,value
0,1,Advanced Economies,AETMP,Carbon stocks in forests,Million tonnes,1992,5.261866e+04
1,2,Advanced Economies,AETMP,Forest area,1000 HA,1992,9.458406e+05
2,3,Advanced Economies,AETMP,Index of carbon stocks in forests,Index,1992,1.000000e+02
3,4,Advanced Economies,AETMP,Index of forest extent,Index,1992,1.000000e+02
4,5,Advanced Economies,AETMP,Land area,1000 HA,1992,2.986569e+06
...,...,...,...,...,...,...,...
39232,1349,Zimbabwe,ZWE,Forest area,1000 HA,2020,1.744458e+04
39233,1350,Zimbabwe,ZWE,Index of carbon stocks in forests,Index,2020,8.421568e+01
39234,1351,Zimbabwe,ZWE,Index of forest extent,Index,2020,9.311454e+01
39235,1352,Zimbabwe,ZWE,Land area,1000 HA,2020,3.868500e+04
39236,1353,Zimbabwe,ZWE,Share of forest area,Percent,2020,4.509391e+01

In [21]:
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Land_Cover_Accounts.csv')
columns_to_check = ["Indicator", "Unit", "CTS_Name", "CTS_Full_Descriptor", "Climate_Influence"]

print(f"The Data  reflects: {df['Source'].unique()}")
print('------------------------------------------------------------------------------------------------------------------')
for column in columns_to_check:
    unique_values = df[column].unique()
    print(f"'{column}s: {unique_values}'")
    print('--------------------------------------')

The Data  reflects: ['Food and Agriculture Organization of the United Nations (FAO). 2022. FAOSTAT Land, Inputs and sustainability, Land, Land Cover. License: CC BY-NC-SA 3.0 IGO. Extracted from:\xa0https://www.fao.org/faostat/en/#data/LC. Accessed on 2022-09-30; IMF staff calculations.']
------------------------------------------------------------------------------------------------------------------
'Indicators: ['Climate Altering Land Cover Index' 'Total Land Cover'
 'Artificial surfaces (including urban and associated areas)' 'Grassland'
 'Herbaceous crops' 'Inland water bodies' 'Mangroves'
 'Permanent snow and glaciers' 'Shrub-covered areas'
 'Shrubs and/or herbaceous vegetation, aquatic or regularly flooded'
 'Sparsely natural vegetated areas' 'Terrestrial barren land'
 'Tree-covered areas' 'Woody crops']'
--------------------------------------
'Units: ['Index' '1000 HA']'
--------------------------------------
'CTS_Names: ['Climate Altering Land Cover Index' 'Climate Influence Land'
 'Artificial Surfaces (Including Urban and Associated Areas)' 'Grassland'
 'Herbaceous Crops' 'Inland Water Bodies' 'Mangroves'
 'Permanent Snow and Glaciers' 'Shrub-Covered Areas'
 'Shrubs and/or Herbaceous Vegetation and Aquatic Or Regularly Flooded'
 'Sparsely Natural Vegetated Areas' 'Terrestrial Barren Land'
 'Tree-Covered Areas' 'Woody Crops']'
--------------------------------------
'CTS_Full_Descriptors: ['Environment, Climate Change, Climate Indicators, Land Cover Accounts, Climate Altering Land Cover Index'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Climate Influence Land'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Artificial Surfaces (Including Urban and Associated Areas)'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Grassland'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Herbaceous Crops'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Inland Water Bodies'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Mangroves'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Permanent Snow and Glaciers'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Shrub-Covered Areas'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Shrubs and/or Herbaceous Vegetation and Aquatic Or Regularly Flooded'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Sparsely Natural Vegetated Areas'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Terrestrial Barren Land'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Tree-Covered Areas'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Woody Crops']'
--------------------------------------
'Climate_Influences: ['Climate altering' 'Climate neutral' 'Climate regulating']'
--------------------------------------

In [22]:
duplicates = melted_forest_C[melted_forest_C.duplicated(subset=['ObjectId', 'Country', 'ISO3', 'Indicator', 'Unit', 'year', 'value'], keep=False)]
print(duplicates)

Empty DataFrame
Columns: [ObjectId, Country, ISO3, Indicator, Unit, year, value]
Index: []

In [23]:
# Load CSV file into a pandas DataFrame
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Land_Cover_Accounts.csv')

# Columns to keep as identifiers
id_columns = ['ObjectId', 'Country', 'ISO3', 'Indicator', 'Unit', 'CTS_Full_Descriptor', ]

# Define columns to drop
columns_to_drop = ['ISO2', 'Source', 'CTS_Code', 'CTS_Name', 'Climate_Influence']

# Reshape the DataFrame using the function and provide a name for the melted DataFrame
output_csv_filename = 'melted_lan_cov_acc.csv'

# Save the reshaped DataFrame to a new CSV file
melted_lan_cov_acc = reshape_and_save(df, id_columns, columns_to_drop, 'melted_lan_cov_acc')
#                                       , output_csv_filename)
# # Save as json file
# save_dataframe_to_json(melted_lan_cov_acc, 'melted_lan_cov_acc.json')

In [24]:
cou_LAN_COV = melted_lan_cov_acc['Country'].unique()
cou_LAN_COV

array(['Advanced Economies', 'Advanced Economies excluding US', 'Africa',
       'Americas', 'Asia',
       'Emerging and Developing Countries Asia excluding China',
       'Emerging and Developing Countries Europe',
       'Emerging and Developing Economies', 'Europe',
       'Latin America and the Caribbean', 'Middle East and Central Asia',
       'Oceania', 'Sub-Saharan Africa', 'World',
       'Andorra, Principality of', 'United Arab Emirates',
       'Afghanistan, Islamic Rep. of', 'Antigua and Barbuda', 'Anguilla',
       'Albania', 'Armenia, Rep. of', 'Angola', 'Argentina',
       'American Samoa', 'Austria', 'Australia',
       'Aruba, Kingdom of the Netherlands', 'Azerbaijan, Rep. of',
       'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium',
       'Burkina Faso', 'Bulgaria', 'Bahrain, Kingdom of', 'Burundi',
       'Benin', 'Bermuda', 'Brunei Darussalam', 'Bolivia', 'Brazil',
       'Bahamas, The', 'Bhutan', 'Botswana', 'Belarus, Rep. of', 'Belize',
       'Canada', 'Congo, Dem. Rep. of the', 'Central African Rep.',
       'Congo, Rep. of', 'Switzerland', "Côte d'Ivoire", 'Cook Islands',
       'Chile', 'Cameroon', 'China, P.R.: Mainland', 'Colombia',
       'Costa Rica', 'Cuba', 'Cabo Verde', 'Cyprus', 'Czech Rep.',
       'Germany', 'Djibouti', 'Denmark', 'Dominica', 'Dominican Rep.',
       'Algeria', 'Ecuador', 'Estonia, Rep. of', 'Egypt, Arab Rep. of',
       'Western Sahara', 'Eritrea, The State of', 'Spain',
       'Ethiopia, The Federal Dem. Rep. of', 'Finland', 'Fiji, Rep. of',
       'Falkland Islands (Malvinas)', 'Micronesia, Federated States of',
       'Faroe Islands', 'France', 'Gabon', 'United Kingdom', 'Grenada',
       'Georgia', 'Guiana, French', 'Ghana', 'Gibraltar', 'Greenland',
       'Gambia, The', 'Guinea', 'Guadeloupe',
       'Equatorial Guinea, Rep. of', 'Greece', 'Guatemala', 'Guam',
       'Guinea-Bissau', 'Guyana', 'China, P.R.: Hong Kong', 'Honduras',
       'Croatia, Rep. of', 'Haiti', 'Hungary', 'Indonesia', 'Ireland',
       'Israel', 'Isle of Man', 'India', 'Iraq', 'Iran, Islamic Rep. of',
       'Iceland', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kenya',
       'Kyrgyz Rep.', 'Cambodia', 'Kiribati', 'Comoros, Union of the',
       'St. Kitts and Nevis', "Korea, Dem. People's Rep. of",
       'Korea, Rep. of', 'Kuwait', 'Cayman Islands',
       'Kazakhstan, Rep. of', "Lao People's Dem. Rep.", 'Lebanon',
       'St. Lucia', 'Liechtenstein', 'Sri Lanka', 'Liberia',
       'Lesotho, Kingdom of', 'Lithuania', 'Luxembourg', 'Latvia',
       'Libya', 'Morocco', 'Monaco', 'Moldova, Rep. of', 'Montenegro',
       'Madagascar, Rep. of', 'Marshall Islands, Rep. of the',
       'North Macedonia, Republic of ', 'Mali', 'Myanmar', 'Mongolia',
       'China, P.R.: Macao', 'Northern Mariana Islands', 'Martinique',
       'Mauritania, Islamic Rep. of', 'Montserrat', 'Malta', 'Mauritius',
       'Maldives', 'Malawi', 'Mexico', 'Malaysia', 'Mozambique, Rep. of',
       'Namibia', 'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria',
       'Nicaragua', 'Netherlands, The', 'Norway', 'Nepal',
       'Nauru, Rep. of', 'Niue', 'New Zealand', 'Oman', 'Panama', 'Peru',
       'French Polynesia', 'Papua New Guinea', 'Philippines', 'Pakistan',
       'Poland, Rep. of', 'Saint Pierre and Miquelon', 'Pitcairn Islands',
       'Puerto Rico', 'West Bank and Gaza', 'Portugal', 'Palau, Rep. of',
       'Paraguay', 'Qatar', 'Réunion', 'Romania', 'Serbia, Rep. of',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Solomon Islands',
       'Seychelles', 'Sudan', 'Sweden', 'Singapore', 'Saint Helena',
       'Slovenia, Rep. of', 'Slovak Rep.', 'Sierra Leone',
       'San Marino, Rep. of', 'Senegal', 'Somalia', 'Suriname',
       'South Sudan, Rep. of', 'São Tomé and Príncipe, Dem. Rep. of',
       'El Salvador', 'Syrian Arab Rep.', 'Eswatini, Kingdom of',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan, Rep. of', 'Tokelau', 'Timor-Leste, Dem. Rep. of',
       'Turkmenistan', 'Tunisia', 'Tonga', 'Trinidad and Tobago',
       'Tuvalu', 'Taiwan Province of China', 'Tanzania, United Rep. of',
       'Ukraine', 'Uganda', 'United States', 'Uruguay',
       'Uzbekistan, Rep. of', 'Holy See',
       'St. Vincent and the Grenadines', 'Venezuela, Rep. Bolivariana de',
       'British Virgin Islands', 'United States Virgin Islands',
       'Vietnam', 'Vanuatu', 'Wallis and Futuna Islands', 'Samoa',
       'Yemen, Rep. of', 'Mayotte', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [25]:
melted_lan_cov_acc

,ObjectId,Country,ISO3,Indicator,Unit,CTS_Full_Descriptor,year,value
0,1,Advanced Economies,AETMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,95.942016
1,2,Advanced Economies excluding US,EAEUSTMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,94.851414
2,3,Africa,AFRTMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,91.590697
3,4,Americas,AMETMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,92.924554
4,5,Asia,ASIATMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,100.417597
...,...,...,...,...,...,...,...,...
88329,3068,Zimbabwe,ZWE,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,"Environment, Climate Change, Climate Indicator...",2020,27.986800
88330,3069,Zimbabwe,ZWE,Sparsely natural vegetated areas,1000 HA,"Environment, Climate Change, Climate Indicator...",2020,18.391800
88331,3070,Zimbabwe,ZWE,Terrestrial barren land,1000 HA,"Environment, Climate Change, Climate Indicator...",2020,90.370100
88332,3071,Zimbabwe,ZWE,Tree-covered areas,1000 HA,"Environment, Climate Change, Climate Indicator...",2020,11644.688900
88333,3072,Zimbabwe,ZWE,Woody crops,1000 HA,"Environment, Climate Change, Climate Indicator...",2020,330.583200

In [26]:
duplicates = melted_lan_cov_acc[melted_lan_cov_acc.duplicated(subset=['ObjectId', 'Country', 'ISO3', 'Indicator', 'Unit', 'CTS_Full_Descriptor', 'year', 'value'], keep=False)]
print(duplicates)

Empty DataFrame
Columns: [ObjectId, Country, ISO3, Indicator, Unit, CTS_Full_Descriptor, year, value]
Index: []