In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import json

# Atmospheric CO2 Concentration

In [2]:
# Read the CSV file
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Atmospheric_CO%E2%82%82_Concentrations.csv')

# Drop specified columns
columns_to_drop = ['Country', 'ISO2', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']
df.drop(columns=columns_to_drop, inplace=True)

# Extract year from the 'Date' column and create a new 'Year' column
df['Year'] = df['Date'].str.extract(r'(\d{4})')

# Save the modified DataFrame to a new CSV file
df.to_csv('atmos_co2_conc.csv', index=False)

# Save the modified DataFrame to a new JSON file
df.to_json('atmos_co2_conc.json', orient='records')

# Print the modified DataFrame
print(f'" World Monthly Atmospheric Carbon Dioxide Concentrations Parts Per Million Source:  (https://gml.noaa.gov/ccgg/trends/) and Dr. Ralph Keeling, Scripps Institution of Oceanography, Carbon Dioxide Measurements (https://scrippsco2.ucsd.edu/). Accessed on 2023-06-26."')
df

" World Monthly Atmospheric Carbon Dioxide Concentrations Parts Per Million Source:  (https://gml.noaa.gov/ccgg/trends/) and Dr. Ralph Keeling, Scripps Institution of Oceanography, Carbon Dioxide Measurements (https://scrippsco2.ucsd.edu/). Accessed on 2023-06-26."

,ObjectId,ISO3,Indicator,Unit,Date,Value,Year
0,1,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M03,315.70,1958
1,2,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M04,317.45,1958
2,3,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M05,317.51,1958
3,4,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M06,317.24,1958
4,5,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,1958M07,315.86,1958
...,...,...,...,...,...,...,...
1549,1550,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,2023M03,0.52,2023
1550,1551,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,2023M04,423.36,2023
1551,1552,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,2023M04,0.74,2023
1552,1553,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,2023M05,424.00,2023
1553,1554,WLD,Monthly Atmospheric Carbon Dioxide Concentrati...,Percent,2023M05,0.71,2023

# Change in sea level

In [21]:
# Read the CSV file
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Change_in_Mean_Sea_Levels.csv')

# Drop specified columns
columns_to_drop = ['Country', 'ISO2', 'Unit', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']
df.drop(columns=columns_to_drop, inplace=True)

# Extract year from the 'Date' column and create a new 'Year' column
df['Year'] = df['Date'].str.extract(r'(\d{4})')

# Save the modified DataFrame to a new CSV file
df.to_csv('chang_n_mean_sea.csv', index=False)

# Save the modified DataFrame to a new JSON file
df.to_json('chang_n_mean_sea.json', orient='records')

# Print the modified DataFrame
print(f'" World Environment, Climate Change, Climate Indicators, Change in Mean Sea Level in Millimeters, Source: National Oceanic and Atmospheric Administration (NOAA). 2020. Sea Level Rise. Laboratory for Satellite Altimetry. https://www.star.nesdis.noaa.gov/socd/lsa/SeaLevelRise/LSA_SLR_timeseries.php. Accessed on 2022-12-08."')
df

" World Environment, Climate Change, Climate Indicators, Change in Mean Sea Level in Millimeters, Source: National Oceanic and Atmospheric Administration (NOAA). 2020. Sea Level Rise. Laboratory for Satellite Altimetry. https://www.star.nesdis.noaa.gov/socd/lsa/SeaLevelRise/LSA_SLR_timeseries.php. Accessed on 2022-12-08."

,ObjectId,ISO3,Indicator,Measure,Date,Value,Year
0,1,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Andaman Sea,D12/17/1992,-10.34,1992
1,2,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Arabian Sea,D12/17/1992,-18.46,1992
2,3,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Atlantic Ocean,D12/17/1992,-15.41,1992
3,4,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Baltic Sea,D12/17/1992,196.85,1992
4,5,WLD,Change in mean sea level: Sea level: TOPEX.Pos...,Bay Bengal,D12/17/1992,3.27,1992
...,...,...,...,...,...,...,...
35599,35600,WLD,Change in mean sea level: Sea level: Trend,South China,D11/08/2022,3.76,2022
35600,35601,WLD,Change in mean sea level: Sea level: Trend,Southern Ocean,D11/08/2022,3.22,2022
35601,35602,WLD,Change in mean sea level: Sea level: Trend,Tropics,D11/08/2022,3.11,2022
35602,35603,WLD,Change in mean sea level: Sea level: Trend,World,D11/08/2022,3.07,2022
35603,35604,WLD,Change in mean sea level: Sea level: Trend,Yellow Sea,D11/08/2022,2.75,2022

In [6]:
def reshape_and_save(df, id_columns, columns_to_drop, melted_df_name, output_csv_filename):
    """
    Reshape a DataFrame by melting it to have years in a single column and save it to a CSV file.

    Args:
    df (pd.DataFrame): The input DataFrame.
    id_columns (list): A list of column names to keep as identifiers.
    columns_to_drop (list): A list of column names to drop.
    melted_df_name (str): Name for the melted DataFrame.
    output_csv_filename (str): Filename for the output CSV file.

    Returns:
    pd.DataFrame: The reshaped DataFrame.
    """
    # Drop specified columns
    df = df.drop(columns=columns_to_drop)

    # Replace missing values with NULL
    df = df.where(pd.notna(df), None)

    # Reshape the DataFrame
    melted_df = pd.melt(df, id_vars=id_columns, var_name='year', value_name='value')
    
    # Remove 'F' from the 'Year' column and filter non-numeric values
    melted_df['year'] = melted_df['year'].str.replace('F', '')
    melted_df = melted_df[melted_df['year'].str.isnumeric()]  # Filter out non-numeric values
    
    # Convert the 'Year' column to integers
    melted_df['year'] = melted_df['year'].astype(int)
    
    melted_df.name = melted_df_name

    # Save the reshaped DataFrame to a new CSV file
    melted_df.to_csv(output_csv_filename, index=False)
    return melted_df

In [7]:
def save_dataframe_to_json(dataframe, filename):
    """
    Save a DataFrame to a JSON file.

    Args:
    dataframe (pd.DataFrame): The DataFrame to be saved.
    filename (str): The name of the JSON file.

    Returns:
    None
    """
    # Convert the DataFrame to a dictionary
    data_dict = dataframe.to_dict(orient='records')
    
    # Save the dictionary as a JSON file
    with open(filename, 'w') as json_file:
        json.dump(data_dict, json_file)

In [8]:
# Load CSV file into a pandas DataFrame
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Annual_Surface_Temperature_Change.csv')

# Columns to keep as identifiers
id_columns = ['ObjectId', 'Country', 'ISO3', 'Source', 'CTS_Code', 'CTS_Full_Descriptor']

# Define columns to drop
columns_to_drop = ['ISO2', 'Indicator', 'Unit', 'CTS_Name']

output_csv_filename = 'melted_AS_temp_chan.csv'

melted_AS_temp_chan = reshape_and_save(df, id_columns, columns_to_drop, 'melted_AS_temp_chan', output_csv_filename)

save_dataframe_to_json(melted_AS_temp_chan, 'melted_AS_temp_chan.json')

In [9]:
print(' The Data Reflects: Surface Temperature (Degree Celsius) Change with respect to a baseline climatology, corresponding to the period 1951-1980')
melted_AS_temp_chan

 The Data Reflects: Surface Temperature (Degree Celsius) Change with respect to a baseline climatology, corresponding to the period 1951-1980

,ObjectId,Country,ISO3,Source,CTS_Code,CTS_Full_Descriptor,year,value
0,1,"Afghanistan, Islamic Rep. of",AFG,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",1961,-0.113
1,2,Albania,ALB,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",1961,0.627
2,3,Algeria,DZA,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",1961,0.164
3,4,American Samoa,ASM,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",1961,0.079
4,5,"Andorra, Principality of",AND,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",1961,0.736
...,...,...,...,...,...,...,...,...
13945,221,Western Sahara,ESH,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",2022,1.970
13946,222,World,WLD,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",2022,1.394
13947,223,"Yemen, Rep. of",YEM,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",2022,NaN
13948,224,Zambia,ZMB,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",2022,0.686
13949,225,Zimbabwe,ZWE,Food and Agriculture Organization of the Unite...,ECCS,"Environment, Climate Change, Climate Indicator...",2022,-0.490

In [22]:
# Load CSV file into a pandas DataFrame
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Climate-related_Disasters_Frequency.csv')

# Columns to keep as identifiers
id_columns = ['ObjectId', 'Country', 'ISO3', 'Indicator', 'Source', 'CTS_Code', 'CTS_Full_Descriptor']

# Define columns to drop
columns_to_drop = ['ISO2', 'Unit', 'CTS_Name']

# Reshape the DataFrame using the function and provide a name for the melted DataFrame
output_csv_filename = 'melted_CR_disater_F.csv'

# Save the reshaped DataFrame to a new CSV file 
melted_CR_disater_F = reshape_and_save(df, id_columns, columns_to_drop, 'melted_CR_disater_', output_csv_filename)

# Save as json file
save_dataframe_to_json(melted_CR_disater_F, 'melted_CR_disater_F.json')

In [11]:
unique_values = melted_CR_disater_F["Indicator"].unique()

print("The Data Reflects: Climate-related disasters frequency, Number of Disasters:")
for value in unique_values:
    print(f"'Climate related disasters frequency, Number of Disasters: {value}'")

melted_CR_disater_F

The Data Reflects: Climate-related disasters frequency, Number of Disasters:
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Drought'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Extreme temperature'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Flood'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Landslide'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Storm'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: TOTAL'
'Climate related disasters frequency, Number of Disasters: Climate related disasters frequency, Number of Disasters: Wildfire'

,ObjectId,Country,ISO3,Indicator,Source,CTS_Code,CTS_Full_Descriptor,year,value
0,1,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",1980,NaN
1,2,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",1980,NaN
2,3,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",1980,1.0
3,4,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",1980,NaN
4,5,"Afghanistan, Islamic Rep. of",AFG,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",1980,NaN
...,...,...,...,...,...,...,...,...,...
41705,966,Zambia,ZMB,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",2022,1.0
41706,967,Zimbabwe,ZWE,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",2022,NaN
41707,968,Zimbabwe,ZWE,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",2022,1.0
41708,969,Zimbabwe,ZWE,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",2022,1.0
41709,970,Zimbabwe,ZWE,"Climate related disasters frequency, Number of...","The Emergency Events Database (EM-DAT) , Centr...",ECCD,"Environment, Climate Change, Climate Indicator...",2022,2.0

In [12]:
# Food and Agriculture Organization of the United Nations (FAO), 2022. FAO, 2022 FAOSTAT Land, Inputs and Sustainability, Land Use 
# http://www.fao.org/faostat/en/#data/RL, Rome, FAO. Accessed on: 03-28-2023; IMF staff calculations.

In [23]:
# Load CSV file into a pandas DataFrame
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Forest_and_Carbon.csv')

# Columns to keep as identifiers
id_columns = ['ObjectId', 'Country', 'ISO3', 'Indicator', 'Unit']

# Define columns to drop
columns_to_drop = ['ISO2', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']

# Reshape the DataFrame using the function and provide a name for the melted DataFrame
output_csv_filename = 'melted_forest_C.csv'

# Save the reshaped DataFrame to a new CSV file
melted_forest_C = reshape_and_save(df, id_columns, columns_to_drop, 'melted_forest_C', output_csv_filename)

# Save as json file
save_dataframe_to_json(melted_forest_C, 'melted_forest_C.json')

In [14]:
indi_values = melted_forest_C["Indicator"].unique()
unit_values = melted_forest_C["Unit"].unique()

print("The Data Reflects: Food and Agriculture Organization of the United Nations (FAO), 2022. FAO, 2022 FAOSTAT Land, Inputs and Sustainability, Land Use http://www.fao.org/faostat/en/#data/RL, Rome, FAO. Accessed on: 03-28-2023; IMF staff calculations.")
print('-----------------------------------------------------------------------------------------------------------------------------------------------------------')
for value in indi_values:
    print(f"'Forest and Carbon Indicators: {value}'")
    
print('--------------------------------------------------')
print('--------------------------------------------------')

for value in unit_values:
    print(f"'Forest and Carbon Units to be aware of: {value}'")

melted_forest_C

The Data Reflects: Food and Agriculture Organization of the United Nations (FAO), 2022. FAO, 2022 FAOSTAT Land, Inputs and Sustainability, Land Use http://www.fao.org/faostat/en/#data/RL, Rome, FAO. Accessed on: 03-28-2023; IMF staff calculations.
-----------------------------------------------------------------------------------------------------------------------------------------------------------
'Forest and Carbon Indicators: Carbon stocks in forests'
'Forest and Carbon Indicators: Forest area'
'Forest and Carbon Indicators: Index of carbon stocks in forests'
'Forest and Carbon Indicators: Index of forest extent'
'Forest and Carbon Indicators: Land area'
'Forest and Carbon Indicators: Share of forest area'
--------------------------------------------------
--------------------------------------------------
'Forest and Carbon Units to be aware of: Million tonnes'
'Forest and Carbon Units to be aware of: 1000 HA'
'Forest and Carbon Units to be aware of: Index'
'Forest and Carbon Units to be aware of: Percent'

,ObjectId,Country,ISO3,Indicator,Unit,year,value
0,1,Advanced Economies,AETMP,Carbon stocks in forests,Million tonnes,1992,5.261866e+04
1,2,Advanced Economies,AETMP,Forest area,1000 HA,1992,9.458406e+05
2,3,Advanced Economies,AETMP,Index of carbon stocks in forests,Index,1992,1.000000e+02
3,4,Advanced Economies,AETMP,Index of forest extent,Index,1992,1.000000e+02
4,5,Advanced Economies,AETMP,Land area,1000 HA,1992,2.986569e+06
...,...,...,...,...,...,...,...
39232,1349,Zimbabwe,ZWE,Forest area,1000 HA,2020,1.744458e+04
39233,1350,Zimbabwe,ZWE,Index of carbon stocks in forests,Index,2020,8.421568e+01
39234,1351,Zimbabwe,ZWE,Index of forest extent,Index,2020,9.311454e+01
39235,1352,Zimbabwe,ZWE,Land area,1000 HA,2020,3.868500e+04
39236,1353,Zimbabwe,ZWE,Share of forest area,Percent,2020,4.509391e+01

In [19]:
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Land_Cover_Accounts.csv')
columns_to_check = ["Indicator", "Unit", "CTS_Name", "CTS_Full_Descriptor", "Climate_Influence"]

print(f"The Data  reflects: {df['Source'].unique()}")
print('------------------------------------------------------------------------------------------------------------------')
for column in columns_to_check:
    unique_values = df[column].unique()
    print(f"'{column}s: {unique_values}'")
    print('--------------------------------------')

The Data  reflects: ['Food and Agriculture Organization of the United Nations (FAO). 2022. FAOSTAT Land, Inputs and sustainability, Land, Land Cover. License: CC BY-NC-SA 3.0 IGO. Extracted from:\xa0https://www.fao.org/faostat/en/#data/LC. Accessed on 2022-09-30; IMF staff calculations.']
------------------------------------------------------------------------------------------------------------------
'Indicators: ['Climate Altering Land Cover Index' 'Total Land Cover'
 'Artificial surfaces (including urban and associated areas)' 'Grassland'
 'Herbaceous crops' 'Inland water bodies' 'Mangroves'
 'Permanent snow and glaciers' 'Shrub-covered areas'
 'Shrubs and/or herbaceous vegetation, aquatic or regularly flooded'
 'Sparsely natural vegetated areas' 'Terrestrial barren land'
 'Tree-covered areas' 'Woody crops']'
--------------------------------------
'Units: ['Index' '1000 HA']'
--------------------------------------
'CTS_Names: ['Climate Altering Land Cover Index' 'Climate Influence Land'
 'Artificial Surfaces (Including Urban and Associated Areas)' 'Grassland'
 'Herbaceous Crops' 'Inland Water Bodies' 'Mangroves'
 'Permanent Snow and Glaciers' 'Shrub-Covered Areas'
 'Shrubs and/or Herbaceous Vegetation and Aquatic Or Regularly Flooded'
 'Sparsely Natural Vegetated Areas' 'Terrestrial Barren Land'
 'Tree-Covered Areas' 'Woody Crops']'
--------------------------------------
'CTS_Full_Descriptors: ['Environment, Climate Change, Climate Indicators, Land Cover Accounts, Climate Altering Land Cover Index'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Climate Influence Land'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Artificial Surfaces (Including Urban and Associated Areas)'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Grassland'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Herbaceous Crops'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Inland Water Bodies'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Mangroves'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Permanent Snow and Glaciers'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Shrub-Covered Areas'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Shrubs and/or Herbaceous Vegetation and Aquatic Or Regularly Flooded'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Sparsely Natural Vegetated Areas'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Terrestrial Barren Land'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Tree-Covered Areas'
 'Environment, Climate Change, Climate Indicators, Land Cover Accounts, Woody Crops']'
--------------------------------------
'Climate_Influences: ['Climate altering' 'Climate neutral' 'Climate regulating']'
--------------------------------------

In [24]:
# Load CSV file into a pandas DataFrame
df = pd.read_csv('C:/Users/kayvb/OneDrive/Desktop/Project-3-ChangeYoClimate-MKSD-/data/Land_Cover_Accounts.csv')

# Columns to keep as identifiers
id_columns = ['ObjectId', 'Country', 'ISO3', 'Indicator', 'Unit', 'CTS_Full_Descriptor', ]

# Define columns to drop
columns_to_drop = ['ISO2', 'Source', 'CTS_Code', 'CTS_Name', 'Climate_Influence']

# Reshape the DataFrame using the function and provide a name for the melted DataFrame
output_csv_filename = 'melted_lan_cov_acc.csv'

# Save the reshaped DataFrame to a new CSV file
melted_lan_cov_acc = reshape_and_save(df, id_columns, columns_to_drop, 'melted_lan_cov_acc', output_csv_filename)
# Save as json file
save_dataframe_to_json(melted_lan_cov_acc, 'melted_lan_cov_acc.json')

In [17]:
melted_lan_cov_acc

,ObjectId,Country,ISO3,Indicator,Unit,CTS_Full_Descriptor,year,value
0,1,Advanced Economies,AETMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,95.942016
1,2,Advanced Economies excluding US,EAEUSTMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,94.851414
2,3,Africa,AFRTMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,91.590697
3,4,Americas,AMETMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,92.924554
4,5,Asia,ASIATMP,Climate Altering Land Cover Index,Index,"Environment, Climate Change, Climate Indicator...",1992,100.417597
...,...,...,...,...,...,...,...,...
88329,3068,Zimbabwe,ZWE,"Shrubs and/or herbaceous vegetation, aquatic o...",1000 HA,"Environment, Climate Change, Climate Indicator...",2020,27.986800
88330,3069,Zimbabwe,ZWE,Sparsely natural vegetated areas,1000 HA,"Environment, Climate Change, Climate Indicator...",2020,18.391800
88331,3070,Zimbabwe,ZWE,Terrestrial barren land,1000 HA,"Environment, Climate Change, Climate Indicator...",2020,90.370100
88332,3071,Zimbabwe,ZWE,Tree-covered areas,1000 HA,"Environment, Climate Change, Climate Indicator...",2020,11644.688900
88333,3072,Zimbabwe,ZWE,Woody crops,1000 HA,"Environment, Climate Change, Climate Indicator...",2020,330.583200